// global styles for <a> and <p> tags
$govuk-global-styles: true;
$govuk-font-family: 'Roboto', sans-serif; 
$govuk-font-family-tabular: 'Roboto', sans-serif;
$govuk-canvas-background-colour: rgb(240, 235, 216);

// Import GOV.UK Frontend
@import "node_modules/govuk-frontend/all";

// Patterns that aren't in Frontend
@import "patterns/check-your-answers";
@import "patterns/step-by-step-navigation";
@import "patterns/task-list";
@import "patterns/related-items";

// Components that aren't in Frontend
@import "components/cookie-banner";

body {
    font-family: $govuk-font-family;    
}

.govuk-header__container {
    border-bottom: none;
    margin-bottom: 0;
}

.govuk-header__logo {
    float: right;
}

.govuk-header__link--homepage {
    font-size:20px;
    line-height:20px;
}
.govuk-header__link--service-name{
    line-height:50px;
}

.govuk-header {
    background-color: rgb(18, 47, 72);
    color: white;
    border-bottom: none;
}

h1, h2, h3, h4, h5, .govuk-heading-xl, .govuk-heading-l, .govuk-heading-m, .govuk-heading-s, .govuk-heading-xs, .gem-c-highlight-boxes__title, .app-c-email-link {
    font-family: 'Raleway', sans-serif !important;
    & * {
        font-family: 'Raleway', sans-serif !important;
    }
}

.gem-c-share-links__link, .gem-c-document-list__item-title {
    font-family: $govuk-font-family;
}

.eduk-navigation-wrapper {    
    border-top: solid 1px white;
}


.eduk-navigation ul {
    padding-left:0;
    display: block;
}

.eduk-navigation li {
    display:inline-block;
    padding: 15px 20px;
    font-weight: 700;
}

.eduk-navigation li:hover{
    background-color: rgb(49, 87, 119);   
}

.visually-hidden {
    display:none;
}
// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you
