
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="taxon-page__email-link-wrapper">
    <div class="full-page-width-wrapper">
          <a class="app-c-email-link dont-print" href="/email-signup/?topic=/education">
      <svg class="app-c-email-link__icon" xmlns="http://www.w3.org/2000/svg" height="18" width="18" viewbox="0 0 459.334 459.334">
        <path fill="black" d="M177.216 404.514c-.001.12-.009.239-.009.359 0 30.078 24.383 54.461 54.461 54.461s54.461-24.383 54.461-54.461c0-.12-.008-.239-.009-.359H175.216zM403.549 336.438l-49.015-72.002v-89.83c0-60.581-43.144-111.079-100.381-122.459V24.485C254.152 10.963 243.19 0 229.667 0s-24.485 10.963-24.485 24.485v27.663c-57.237 11.381-100.381 61.879-100.381 122.459v89.83l-49.015 72.002a24.76 24.76 0 0 0 20.468 38.693H383.08a24.761 24.761 0 0 0 20.469-38.694z"></path>
      </svg>
      Sign up for updates to this topic page
  </a>

    </div>
  </div>


<div class="full-page-width-wrapper">
    <div class="taxon-page__section-group">
      <div class="grid-row">
        <div class="column-two-thirds">
          <h2 class="gem-c-heading  gem-c-heading--margin-bottom-2">Childminding and early years</h2>

        </div>
      </div>
        <ul class="gem-c-taxonomy-list" data-module="track-click">

          <li class="gem-c-highlight-boxes__item-wrapper ">
            <div class="gem-c-highlight-boxes__item">
              <a class="gem-c-highlight-boxes__title "href="https://www.gov.uk/register-childminder-childcare-provider">Become a childminder</a>

                <p class="gem-c-highlight-boxes__description">You must register with Ofsted or a childminder agency if you want to be paid to look after children under 8 for more than 2 hours a day in England</p>

        </div>
      </li>
      <li class="gem-c-highlight-boxes__item-wrapper ">
        <div class="gem-c-highlight-boxes__item">
          <a class="gem-c-highlight-boxes__title "href="/">Early Years Foundation Stage</a>

            <p class="gem-c-highlight-boxes__description">The Early Years Foundation Stage sets standards for the learning, development and care of children from birth to 5 years olds</p>

        </div>
      </li>
      <li class="gem-c-highlight-boxes__item-wrapper ">
        <div class="gem-c-highlight-boxes__item">
          <a class="gem-c-highlight-boxes__title "href="/">Early years resources</a>

            <p class="gem-c-highlight-boxes__description">Search resources approved by childcare providers for early years</p>

        </div>
      </li>


            <li class="gem-c-document-list__item gem-c-document-list__multi-list ">
        <a href="https://www.gov.uk/ofsted-inspection-childcare-provider">Childcare inspections</a>


          <p class="gem-c-document-list__item-description">What happens when you're inspected by Ofsted as a childminder or childcare provider</p>

      </li>
      <li class="gem-c-document-list__item gem-c-document-list__multi-list ">
  <a href="https://www.gov.uk/guidance/sign-up-to-tax-free-childcare-if-youre-a-childcare-provider">Sign up to Tax-Free Childcare if you’re a childcare provider</a>


    <p class="gem-c-document-list__item-description">Sign up to Tax-Free Childcare and get an account to receive payments from parents using the scheme</p>

      </li>

  </ul>


  <a href="https://www.gov.uk/education">See all guidance and services</a>

    </div>
    
{% endblock %}