
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        education.uk
      </h1>
    </div> 
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <img height="200" src="https://loremflickr.com/250/200?r=1">
      <h3 class="govuk-heading-m"><a href="#">For parents and guardians</a></h3>
      <p>
        Pick a school or nursery, discover educational activities or learn about home education   
      </p>
    </div>
    <div class="govuk-grid-column-one-third">
      <img height="200" src="https://loremflickr.com/250/200?r=2">
      <h3 class="govuk-heading-m"><a href="#">For students</a></h3>
      <p>
        Choose a career, find a college, get work experience or find help with your studies
      </p>
    </div>
    <div class="govuk-grid-column-one-third">
      <img height="200" src="https://loremflickr.com/250/200?r=3">
      <h3 class="govuk-heading-m"><a href="#">For teachers</a></h3>
      <p>
        Plan classes, discover free resources and develop your career
      </p>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <img height="200" src="https://loremflickr.com/250/200?r=4">
      <h3 class="govuk-heading-m"><a href="#">For leaders and governors</a></h3>
      <p>
        Purchase school equipment, create timetables, develop your skills
      </p>
    </div>
    <div class="govuk-grid-column-one-third">
      <img height="200" src="https://loremflickr.com/250/200?r=5">
      <h3 class="govuk-heading-m"><a href="#">For future teachers</a></h3>
      <p>
        Learn about teachning, get the necessary qualifications, find a teaching job
      </p>
    </div>
    <div class="govuk-grid-column-one-third">
      <img height="200" src="https://loremflickr.com/250/200?r=6">
      <h3 class="govuk-heading-m"><a href="#">For the public</a></h3>
      <p>
        News about education and information about the Department for Education
      </p>
    </div>
  </div>


{% endblock %}
