
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="taxon-page__email-link-wrapper">
        <div class="full-page-width-wrapper">
              <a class="app-c-email-link dont-print" href="/email-signup/?topic=/education">
          <svg class="app-c-email-link__icon" xmlns="http://www.w3.org/2000/svg" height="18" width="18" viewbox="0 0 459.334 459.334">
            <path fill="black" d="M177.216 404.514c-.001.12-.009.239-.009.359 0 30.078 24.383 54.461 54.461 54.461s54.461-24.383 54.461-54.461c0-.12-.008-.239-.009-.359H175.216zM403.549 336.438l-49.015-72.002v-89.83c0-60.581-43.144-111.079-100.381-122.459V24.485C254.152 10.963 243.19 0 229.667 0s-24.485 10.963-24.485 24.485v27.663c-57.237 11.381-100.381 61.879-100.381 122.459v89.83l-49.015 72.002a24.76 24.76 0 0 0 20.468 38.693H383.08a24.761 24.761 0 0 0 20.469-38.694z"></path>
          </svg>
          Sign up for updates to this topic page
      </a>
    
        </div>
      </div>
    
    
    <div class="full-page-width-wrapper">
        <div class="taxon-page__section-group">
          <div class="grid-row">
            <div class="column-two-thirds">
              <h2 class="gem-c-heading  gem-c-heading--margin-bottom-2  ">Teaching and learning</h2>
    
            </div>
          </div>
            <ul class="gem-c-taxonomy-list" data-module="track-click">
    
              <li class="gem-c-highlight-boxes__item-wrapper ">
                <div class="gem-c-highlight-boxes__item">
                  <a class="gem-c-highlight-boxes__title "href="/lesson-plans-resources.html">Lesson plans and resources</a>
    
                    <p class="gem-c-highlight-boxes__description">Search over 700,000 teacher-approved lesson plans and resources covering all subjects and Key Stages</p>
    
            </div>
          </li>
          <li class="gem-c-highlight-boxes__item-wrapper ">
            <div class="gem-c-highlight-boxes__item">
              <a class="gem-c-highlight-boxes__title "href="https://find-postgraduate-teacher-training.education.gov.uk/">Become a teacher</a>
    
                <p class="gem-c-highlight-boxes__description">Search and apply for training courses by location, provider and subject</p>
    
            </div>
          </li>
          <li class="gem-c-highlight-boxes__item-wrapper ">
            <div class="gem-c-highlight-boxes__item">
              <a class="gem-c-highlight-boxes__title "href="/">Run online tests</a>
    
                <p class="gem-c-highlight-boxes__description">Online times tables and phonics screening checks for your pupils</p>
    
            </div>
          </li>
    
    
                <li class="gem-c-document-list__item gem-c-document-list__multi-list ">
            <a href="/">National curriculum</a>
    
    
              <p class="gem-c-document-list__item-description">The national curriculum for England is taught in all local authority maintained schools</p>
    
          </li>
          <li class="gem-c-document-list__item gem-c-document-list__multi-list ">
      <a href="/">Share learning stories with parents</a>
    
    
        <p class="gem-c-document-list__item-description">Approved online services and apps to share updates, photos and videos with parents</p>
    
          </li>
    
      </ul>
    
    
      <a href="https://www.gov.uk/education">See all guidance and services</a>
    
        </div>
    
{% endblock %}